.contents {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5.125vw;
  }

  #waste {
    display: none;
  }

  #description,
  #projects {
    width: 100vw;
  }

  #description {
    position: relative;
    gap: 6.125vw;
    padding-bottom: 0;
  }

  #projects {
    padding: 4.5vw;
    padding-top: 0;
  }

  .miniContents {
    gap: 5.083vw;
  }

  .tag {
    padding: 1.5vw;
  }

  .tags {
    width: 100%;
    row-gap: 2vw;
  }

  #sort,
  #social {
    gap: 2vw;
    justify-content: flex-start;
  }

  h1 {
    font-size: 7.125vw;
  }

  h2 {
    font-size: 4.083vw;
  }

  h3 {
    font-size: 3.7vw;
  }

  .tag {
    font-size: 3.25vw;
  }

  p {
    font-size: 3.5625vw;
  }

  a {
    font-size: 3.7vw;
  }

  #mr {
    width: auto;
  }

  .projectImage {
    width: 27.5vw;
    height: 27.5vw;
    border-radius: 1.2vw;
  }

  .projectIcon {
    width: 8vw;
    height: 8vw;
  }

  .project {
    padding: 3vw;
    gap: 3vw;
    border-radius: 3vw;
  }

  .iconText {
    gap: 2vw;
  }

  .inProject {
    padding: 14vw 4vw;
    gap: 7vw;
  }

  .titleInProject {
    flex-direction: column;
    align-items: flex-start;
  }

  .titleInProject h1 {
    width: 100%;
  }

  .iconInProject {
    width: 25vw;
    height: 25vw;
    border-radius: 5vw;
  }
}
