@keyframes test {
  0%,
  10% {
    clip-path: inset(0 100% 0 0);
  } /* Скрыто */
  40%,
  60% {
    clip-path: inset(0 0% 0 0);
  } /* Полностью открыто (пауза) */
  90%,
  100% {
    clip-path: inset(0 100% 0 0);
  }
}
