/* Базовая информация */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}

/* Цвета */

/* Светлая тема */

:root {
  --bg-light: #fff;
  --text-light: #000;
  --span-light: #0000007b;
  --button-light: #eaeaea;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bg-light);
  }

  h1,
  h2,
  h3,
  p {
    color: var(--text-light);
  }

  #description span {
    color: var(--span-light);
  }

  .tag {
    background-color: var(--button-light);
    color: var(--span-light);
  }

  .projectIcon,
  .projectImage {
    background-color: var(--span-light);
  }

  .project {
    background-color: var(--button-light);
    transition: ease-in 0.2s;
    cursor: pointer;
  }

  .project:hover {
    background-color: var(--tag-yellow-dark);
    color: var(--text-light);
    transition: ease-in 0.2s;
  }

  ::selection {
    color: var(--bg-light);
    background-color: var(--text-light);
  }
}

/* Темная тема */

:root {
  --bg-dark: #111111;
  --text-dark: #f1f1f1;
  --span-dark: #ffffff7b;
  --button-dark: #252525;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-dark);
  }

  h1,
  h2,
  h3,
  p {
    color: var(--text-dark);
  }

  #description span {
    color: var(--span-dark);
  }

  .projectIcon,
  .projectImage {
    background-color: var(--span-dark);
  }

  .tag {
    background-color: var(--button-dark);
    color: var(--span-dark);
  }

  ::selection {
    color: var(--bg-dark);
    background-color: var(--text-dark);
  }
}

/* Теги */

/* Светлая тема */

:root {
  --tag-bg-lazure-light: #00c4ff50;
  --tag-lazure-light: #00769a;

  --tag-bg-blue-light: #0077ff50;
  --tag-blue-light: #005dc5;

  --tag-bg-yellow-light: #ffaa0050;
  --tag-yellow-light: #946300;

  --tag-bg-orange-light: #ff730050;
  --tag-orange-light: #a84e00;
}

@media (prefers-color-scheme: light) {
  #tg {
    color: var(--tag-lazure-light);
    background-color: var(--tag-bg-lazure-light);
    transition: ease-in 0.2s;
  }

  #vk {
    color: var(--tag-blue-light);
    background-color: var(--tag-bg-blue-light);
    transition: ease-in 0.2s;
  }

  #em,
  #emEn {
    color: var(--tag-yellow-light);
    background-color: var(--tag-bg-yellow-light);
    transition: ease-in 0.2s;
  }

  #mr {
    color: var(--tag-orange-light);
    background-color: var(--tag-bg-orange-light);
    transition: ease-in 0.2s;
    width: 100%;
  }

  #tg:hover {
    color: var(--bg-light);
    background-color: var(--tag-lazure-light);
    transition: ease-in 0.2s;
  }

  #vk:hover {
    color: var(--bg-light);
    background-color: var(--tag-blue-light);
    transition: ease-in 0.2s;
  }

  #em:hover,
  #emEn:hover {
    color: var(--bg-light);
    background-color: var(--tag-yellow-light);
    transition: ease-in 0.2s;
  }

  #mr:hover {
    color: var(--bg-light);
    background-color: var(--tag-orange-light);
    transition: ease-in 0.2s;
    width: 100%;
  }
}

/* Темная тема */

:root {
  --tag-bg-lazure-dark: #00c4ff7b;
  --tag-lazure-dark: #79e0ff;

  --tag-bg-blue-dark: #0077ff7b;
  --tag-blue-dark: #62acff;

  --tag-bg-yellow-dark: #ffaa007b;
  --tag-yellow-dark: #ffd175;

  --tag-bg-orange-dark: #ff73007b;
  --tag-orange-dark: #ffad69;
}

@media (prefers-color-scheme: dark) {
  #tg {
    color: var(--tag-lazure-dark);
    background-color: var(--tag-bg-lazure-dark);
  }

  #vk {
    color: var(--tag-blue-dark);
    background-color: var(--tag-bg-blue-dark);
  }

  #em,
  #emEn {
    color: var(--tag-yellow-dark);
    background-color: var(--tag-bg-yellow-dark);
  }

  #mr {
    color: var(--tag-orange-dark);
    background-color: var(--tag-bg-orange-dark);
    width: 100%;
  }

  #tg:hover {
    color: var(--text-dark);
    background-color: var(--tag-lazure-light);
    transition: ease-in 0.2s;
  }

  #vk:hover {
    color: var(--text-dark);
    background-color: var(--tag-blue-light);
    transition: ease-in 0.2s;
  }

  #em:hover,
  #emEn:hover {
    color: var(--text-dark);
    background-color: var(--tag-yellow-light);
    transition: ease-in 0.2s;
  }

  #mr:hover {
    color: var(--text-dark);
    background-color: var(--tag-orange-light);
    transition: ease-in 0.2s;
    width: 100%;
  }
}

/* Шрифты */

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3.125vw;
  width: 100%;
}

h2 {
  font-size: 2.083vw;
}

h3 {
  font-size: 1.7vw;
}

.tag {
  font-size: 1.25vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

p {
  font-size: 1.5625vw;
  font-weight: 400;
  line-height: 110%;
}

#comment {
  opacity: 0.5;
}

/* Основные секции */

#description {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 4.5vw;
  gap: 3.125vw;
  height: 100%;
}

#projects {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 4.5vw;
  padding-left: 0;
}

#waste {
  width: 50vw;
}

.miniContents {
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
}

/* Теги */

.tag {
  border: none;
  padding: 1.041vw;
  border-radius: 1.041vw;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 0.5vw;
  /* justify-content: space-between; */
}

/* Проекты */

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.4vw;
  border-radius: 1.2vw;
  gap: 1.4vw;
}

.projectIcon {
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 0.6vw;
}

.iconText {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.aboutProject {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.projectImage {
  width: 13.5vw;
  height: 13.5vw;
  border-radius: 0.6vw;
}

#open {
  padding: 0.78vw;
  border-radius: 0.6vw;
}
