/* Базовая информация */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}

/* Цвета */

/* Светлая тема */

:root {
  --light-bg: #fff;
  --light-text: #000;
  --light-span: #0000007b;
  --light-button: #eaeaea;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
  }

  h1,
  h2,
  h3,
  p {
    color: var(--light-text);
  }

  .tag {
    background-color: var(--light-button);
    color: var(--light-span);
  }

  .projectIcon,
  .projectImage {
    background-color: var(--light-span);
  }

  .project {
    /* background-color: var(--button-light); */
    transition: ease-in 0.2s;
    cursor: pointer;
  }

  .project:hover {
    background-color: var(--tag-yellow-dark);
    color: var(--light-bg);
    transition: ease-in 0.2s;
    padding: 1.4vw;
  }

  ::selection {
    color: var(--light-bg);
    background-color: var(--light-text);
  }
}

/* Темная тема */

:root {
  --dark-bg: #111111;
  --dark-text: #f1f1f1;
  --dark-span: #ffffff7b;
  --dark-button: #252525;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
  }

  h1,
  h2,
  h3,
  p {
    color: var(--dark-text);
  }

  .projectIcon,
  .projectImage {
    background-color: var(--dark-span);
  }

  .tag {
    background-color: var(--dark-button);
    color: var(--dark-span);
  }

  ::selection {
    color: var(--dark-bg);
    background-color: var(--dark-text);
  }
}

/* Теги */

/* Светлая тема */

:root {
  --tlight-bg-lazure: #00c4ff50;
  --tlight-lazure: #00769a;

  --tlight-bg-blue: #0077ff50;
  --tlight-blue: #005dc5;

  --tlight-bg-yellow: #ffaa0050;
  --tlight-yellow: #946300;

  --tlight-bg-orange: #ff730050;
  --tlight-orange: #a84e00;
}

@media (prefers-color-scheme: light) {
  #tg {
    color: var(--tlight-lazure);
    background-color: var(-tlight--bg-lazght);
    transition: ease-in 0.2s;
  }

  #vk {
    color: var(--tlight-blue);
    background-color: var(--tlight-bg-blue);
    transition: ease-in 0.2s;
  }

  #em,
  #emEn {
    color: var(--tlight-yellow);
    background-color: var(--tagtlight-yellow);
    transition: ease-in 0.2s;
  }

  #mr {
    color: var(--tlight-orange);
    background-color: var(--tlight-bg-oranht);
    transition: ease-in 0.2s;
    width: 100%;
  }

  #tg:hover {
    color: var(--bg-light);
    background-color: var(--tlight-lazure);
    transition: ease-in 0.2s;
  }

  #vk:hover {
    color: var(--bg-light);
    background-color: var(--tlight-blue-light);
    transition: ease-in 0.2s;
  }

  #em:hover,
  #emEn:hover {
    color: var(--bg-light);
    background-color: var(--tlight-yellow);
    transition: ease-in 0.2s;
  }

  #mr:hover {
    color: var(--bg-light);
    background-color: var(--tlight-orange);
    transition: ease-in 0.2s;
    width: 100%;
  }
}

/* Темная тема */

:root {
  --tdark-bg-lazure: #00c4ff7b;
  --tdark-lazure: #79e0ff;

  --tdark-bg-blue: #0077ff7b;
  --tdark-blue: #62acff;

  --tdark-bg-yellow: #ffaa007b;
  --tdark-yellow: #ffd175;

  --tdark-bg-orange: #ff73007b;
  --tdark-orange: #ffad69;
}

@media (prefers-color-scheme: dark) {
  #tg {
    color: var(--tdark-lazure);
    background-color: var(--tdark-bg-lazure);
  }

  #vk {
    color: var(--tdark-blue);
    background-color: var(--tdark-bg-blue);
  }

  #em,
  #emEn {
    color: var(--tdark-yellow);
    background-color: var(--tdark-bg-yellow);
  }

  #mr {
    color: var(--tdark-orange);
    background-color: var(--tdark-bg-orange);
    width: 100%;
  }

  #tg:hover {
    color: var(--dark-text);
    background-color: var(--tlight-lazure);
    transition: ease-in 0.2s;
  }

  #vk:hover {
    color: var(--dark-text);
    background-color: var(--tlight-blue);
    transition: ease-in 0.2s;
  }

  #em:hover,
  #emEn:hover {
    color: var(--dark-text);
    background-color: var(--tlight-yellow);
    transition: ease-in 0.2s;
  }

  #mr:hover {
    color: var(--dark-text);
    background-color: var(--tlight-orange);
    transition: ease-in 0.2s;
    width: 100%;
  }
}

/* Проекты */

:root {
  --p-tbank: #5a47ca;
  --p-gorkiy: #ff1c20;
  --p-bimbook: #0a8754;
}

#tbank:hover {
  background-color: var(--p-tbank);
}

#gorkiy:hover {
  background-color: var(--p-gorkiy);
}

#bimbook:hover {
  background-color: var(--p-bimbook);
}

/* Шрифты */

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3.125vw;
  width: 100%;
}

h2 {
  font-size: 2.083vw;
}

h3 {
  font-size: 1.7vw;
}

.tag {
  font-size: 1.25vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

p {
  font-size: 1.5625vw;
  font-weight: 400;
  line-height: 110%;
}

#comment {
  opacity: 0.5;
}

/* Основные секции */

#description {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 4.5vw;
  gap: 3.125vw;
  height: 100%;
}

#description span {
  display: inline-block;
  /* animation:
    test 10s steps(5) infinite alternate,
    blink 800ms steps(5) infinite normal; */
  background-color: var(--dark-text);
  color: var(--dark-bg);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(0 100% 0 0);
  animation: test 4s infinite linear;
}

#projects {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 4.5vw;
  padding-left: 0;
}

#waste {
  width: 50vw;
}

.miniContents {
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
}

/* Теги */

.tag {
  border: none;
  padding: 1.041vw;
  border-radius: 1.041vw;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 0.5vw;
  /* justify-content: space-between; */
}

/* Проекты */

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.4vw 0;
  border-radius: 1.2vw;
  gap: 1.4vw;
  transition: ease-in-out 0.35s;
  cursor: pointer;
}

.project:hover {
  transition: ease-in-out 0.5s;
  padding: 1.4vw;
  color: var(--light-bg);
}

.projectIcon {
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 0.6vw;
}

.iconText {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.aboutProject {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.projectImage {
  width: 13.5vw;
  height: 13.5vw;
  border-radius: 0.6vw;
}

#open {
  padding: 0.78vw;
  border-radius: 0.6vw;
}
